<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
    <link rel="stylesheet" type="text/css" href="{{ name }}.css" />

    <style>
        body {
            font-family: sans-serif;
            margin: 0;
            padding: 10px 20px;
            text-align: center;
        }
        .preview {
            width: 160px;
            display: inline-block;
            margin: 10px;
            box-shadow: 0 0 4px 0px darkgrey;
            border-radius: 8px;
        }
        .preview .inner {
            display: inline-block;
            width: 100%;
            text-align: center;
            
            -webkit-border-radius: 3px 3px 0 0;
            -moz-border-radius: 3px 3px 0 0;
            border-radius: 3px 3px 0 0;
        }
        .preview .inner i {
            line-height: 85px !important;
            font-size: 40px !important;
            color: #333;
            padding: 16px;
        }
        .label {
            display: inline-block;
            width: 100%;
            box-sizing: border-box;
            padding: 5px;
            font-size: 10px;
            font-family: Monaco, monospace;
            white-space: wrap;
            overflow: hidden;
            -webkit-border-radius: 0 0 3px 3px;
            -moz-border-radius: 0 0 3px 3px;
            border-radius: 0 0 3px 3px;
            color: #000;
        }
    </style>

</head>
<body>

    <h1 id="header">{{ name }}</h1>

    {{# each assets }}

        <div class="preview">
            <span class="inner">
                <{{ ../tag }} class="nxi {{ ../prefix }}-{{ @key }}"></{{ ../tag }}>
            </span>
            <br>
            <span class='label' title="{{ ../prefix }}-{{ @key }}">{{ ../prefix }}-{{ @key }}</span>
        </div>

    {{/ each }}

    <script>
        var header =  document.getElementById('header');
        if(header && window.location) {
            const title =  window.location.pathname.split("/").filter(URI => (URI && !URI.includes('index'))).join("/");
            header.innerText = title;
        }
    </script>
</body>
</html>